.generic-content-container {

    p {
        line-height: 1.65;
        margin-block: 1.8rem;

        @mixin atSmall {
            font-size: 1.125rem;
        }
    }

    p a {
        font-weight: 700;

    }

}