.site-header {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	z-index: 2;
	transition: background-color 0.3s ease-out;

	&--is-expanded {
		background-color: rgba($mainBlue, 0.55);
	}

	@mixin atMedium {
		background-color: rgba($mainBlue, 0.3);
	}

	&__btn-container {
		@mixin atMedium {
			float: right;
		}
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background: $mainBlue;
		padding: 13px 29px;

		@mixin atMedium {
			left: auto;
			transform: translateX(0);
			padding: 25px 36px;
		}
	}

	&__logo__graphic {
		text-indent: -9999px;
	}

	&__menu-icon {
		width: 20px;
		height: 20px;
		background: #fff;
		position: absolute;
		top: 10px;
		right: 10px;

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-content {
		opacity: 0;
		transform: scale(1.2);
		transition: all 0.3s ease-out;
		/* Below this CSS is for preventing any event */
		z-index: 10;
		pointer-events: none;
		padding-top: 90px;
		text-align: center;

		@mixin atMedium {
			opacity: 1;
			z-index: 1;
			pointer-events: visible;
			padding-top: 0;
		}

		&--is-visible {
			opacity: 1;
			transform: scale(1);
			z-index: 1;
			pointer-events: visible;
		}
	}
}
