.site-header {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	z-index: 2;
	transition: background-color 0.3s ease-out;

	&--is-expanded {
		background-color: rgba($mainBlue, 0.55);
	}

	@mixin atMedium {
		position: fixed;
		background-color: rgba($mainBlue, 0.3);

		&--dark {
			background-color: rgba(23, 51, 72, 0.85);
		}
	}

	&__btn-container {
		@mixin atMedium {
			/* float: right; */
			order: 2;
		}
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		transition: transform 0.3s ease-out;
		transform: translateX(-50%) sclae(0.8);
		transform-origin: 50% 0;
		background: $mainBlue;
		padding: 25px 36px;

		@mixin atMedium {
			left: auto;
			transform: translateX(0);

			.site-header--dark & {
				transform: scale(0.55);
			}
		}
	}

	&__logo__graphic {
		text-indent: -9999px;
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 0;
			transition: transform 0.3s ease-out;
		}
		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 100% 0;
			transition: all 0.3s ease-out;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 100%;
			transition: transform 0.3s ease-out;
		}

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__menu-content {
		opacity: 0;
		transform: scale(1.2);
		transition: all 0.3s ease-out;
		/* Below this CSS is for preventing any event */
		z-index: -10;
		pointer-events: none;
		padding-top: 90px;
		padding-right: 0;
		text-align: center;

		@mixin atMedium {
			display: flex;
			justify-content: flex-end;
			pointer-events: visible;
			opacity: 1;
			z-index: 1;
			transform: scale(1);
			padding-top: 0;
			padding-right: 80px;
		}

		&--is-visible {
			opacity: 1;
			transform: scale(1);
			z-index: 1;
			pointer-events: visible;
		}
	}
}
