.large-hero {
    border-bottom: 10px solid $mainBlue;
    position: relative;

    &__image {
       display: block;
    }

    &__text-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__title {
        font-weight: 300;
        color: $mainBlue;
        margin: 0;
        font-size: 2.4rem;

        @mixin atSmall {
            font-size: 4.8rem;
        }

    }
    
    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.5rem;
        margin: 0;
        
        @mixin atSmall {
            font-size: 2.9rem;
        }

    }

    &__description {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        max-width: 30rem;
        margin-inline: auto;
        
        @mixin atSmall {
            font-size: 1.875rem;
        }
    }
}


